# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
firmware/
project.pros
pros-setup.sh
common.mk
/docs


# CLION
.idea/
cmake-build-debug/

include
